# Файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
.venv/

# Файлы сессий и баз данных (ВАЖНО ДЛЯ БЕЗОПАСНОСТИ!)
*.session
*.db
*.session-journal
*.db-journal

# Файл конфигурации с токенами (ВАЖНО ДЛЯ БЕЗОПАСНОСТИ!)
config.py

# Файлы IDE
.idea/
.vscode/

# Диагностические файлы
diagnostic.py
deep_diagnostic.py